// background: red;
.search-icon {
  font-size: 5em;
  width: fit-content;
  height: fit-content;
}

.placeholder-loading {
  & .search-icon {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--color-orange);
    overflow: hidden;
    margin: auto;
    animation: circle 4s linear infinite;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
