:root {
  --primary-color: #fb5607;
  --color-orange: #fb5607;

  --color-gray-50: #f4f4f7;
  --color-gray-100: #e9eaef;
  --color-gray-200: #d3d5de;
  --color-gray-300: #bdc0ce;
  --color-gray-400: #a7abbd;
  --color-gray-500: #9196ad;
  --color-gray-600: #74788a;
  --color-gray-700: #575a68;
  --color-gray-800: #3a3c45;
  --color-gray-900: #1d1e23;
  --color-gray-950: #0f0f11;
}
