<div
  class="left-panel h-screen flex align-items-center justify-content-between"
>
  <a
    routerLink="/home"
    class="logo crown flex justify-content-center align-items-center"
  >
    <img src="../../../../assets/couronne.png" />
  </a>

  <div class="links flex flex-column gap-4 align-items-center">
    <button
      routerLink="/characters"
      mat-icon-button
      color="primary"
      matTooltip="characters"
      class="link"
    >
      <mat-icon class="icon">person</mat-icon>
    </button>
    <button
      routerLink="/castles"
      mat-icon-button
      color="primary"
      matTooltip="buildings"
      class="link"
    >
      <mat-icon class="icon">castle</mat-icon>
    </button>
    <button
      routerLink="/animals"
      mat-icon-button
      color="primary"
      matTooltip="animals"
      class="link"
    >
      <mat-icon class="icon">pets</mat-icon>
    </button>
    <button
      routerLink="/equipments"
      mat-icon-button
      color="primary"
      matTooltip="equipments"
      class="link"
    >
      <mat-icon class="icon">checkroom</mat-icon>
    </button>
    <button
      routerLink="/artifacts"
      mat-icon-button
      color="primary"
      matTooltip="artifacts"
      class="link"
    >
      <mat-icon class="icon">diamond</mat-icon>
    </button>
    <button
      routerLink="/edit"
      mat-icon-button
      color="primary"
      matTooltip="edit"
      class="link"
    >
      <mat-icon class="icon">edit</mat-icon>
    </button>
  </div>

  <div class="logo flex justify-content-center align-items-center py-3">
    <img src="../../../../assets/laurent-logo.webp" />
  </div>
</div>
